
.about_title {
	font-family: Clash Display;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}


@media (max-width: 690px){
	.about_title {
		text-align: start;
		margin: 35px 0 45px 0;
		padding: 0 1rem;
		font-size: 20px;
	}
}

@media (min-width: 691px){
	.about_title {
		text-align: center;
		margin: 60px 0 50px 0;
		font-size: 24px;
		}
}

.cart_blocks {
	display: grid;
	gap: 1rem;
}

@media (max-width: 690px){
	.cart_blocks {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 691px){
	.cart_blocks {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
